{% extends 'layouts/layout.html' %}

<!-- TODO: CHANGE DYNAMIC TITLE -->
{% block title %} About {% endblock %}

{% block content %}
<div class="d-flex align-items-center min-vh-100 py-5" style="background-color: #ECE4B7;">
    <div class="container text-center">
        <h1 class="display-3">Our Story</h1>
        <p class="font-weight-lighter font-italic">We should always support our favourite paid streaming services whenever possible. This site should be used as an alternative when your show can't be found.</p>
        <p class="lead">Like many others, we watch shows during our free time. Asian show, US movies, you name it. But, there's not one site where we could really watch all we want. Either they are not available on the streaming site or worse, they are not available in your country. Thats why we build <a href="{{ url_for('home') }}">watchallyouwant.com</a>. To advocate for the streaming of shows and movies from different countries for different countries.</p>
        <br>
        <!-- <p class="font-weight-lighter">PS. Any feedback or messages are welcome. Click on the contact button on the
            top-right of your screen! &#128516;</p> -->
    </div>
</div>
{% endblock %}