{% extends 'layouts/layout.html' %}

<!-- TODO: CHANGE DYNAMIC TITLE -->
{% block title%}{{ heading }}{% endblock %}

{% block content %}
<main role="main" class="mt-5 pt-5">
    <div class="container">
        <div class="row container">
            <div class="col-md-6 align-self-center">
                <img src="{{ image }}" alt="" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <div class="row my-3 mt-md-0">
                    <h2>{{ heading }}</h2>
                </div>
                <!-- TODO: IF SYNOPSIS -->
                {% if synopsis %}
                <div class="row mt-3">
                    <h2>Synopsis</h2>
                    <p>{{ synopsis }}</p>
                </div>
                <hr class="m-0">
                {% endif %}
                {% if data %}
                <div class="row mt-3">
                    <h2>Episodes</h2>
                </div>
                <div class="row mt-3">
                    {% for item in data %}
                    <div class="col-md-4 mb-2">
                        <a href="{{ item['link'] }}" class="text-reset"><div class="border border-secondary rounded-pill text-center p-1">{{ item['title'] }}</div></a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if current_page != None %}
                <nav aria-label="pagination" class="mx-auto">
                    <ul class="pagination justify-content-center">
                        {% if previous_page != None %}
                        <li class="page-item"><a class="page-link" href="{{ previous_page['link'] }}">{{ previous_page['page'] }}</a></li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link">{{ current_page }}</a></li>
                        {% if next_page != None %}
                        <li class="page-item"><a class="page-link" href="{{ next_page['link'] }}">{{ next_page['page'] }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif%}
                
            </div>
        </div>
    </div>
</main>
{% endblock %}