{% extends 'layouts/layout.html' %}

{% block title%}Error{% endblock %}

{% block content %}
<div class="d-flex align-items-center min-vh-100 py-5" style="background-color: #ECE4B7;">
    <div class="container text-center">
        <h1 class="display-3">Whoops</h1>
        <p class="lead">Looks like you have gotten lost looking for your show. Try going back or look around either at the <a href="{{ url_for('western') }}">Western</a> or <a href="{{ url_for('asian') }}">Asian</a> page.</p>
        <br>
    </div>
</div>
{% endblock %}