{% extends 'layouts/layout.html' %}

{% block title %}Home{% endblock %}

{% block css %}
<style>
    .custom-overlay-text {
        background-color: rgba(0, 0, 0, 0.5);
    }

    div.grayscale:hover>img {
        filter: gray blur(50px);
        -webkit-filter: grayscale(100%) blur(2px);
    }

    div.grayscale:hover>.custom-overlay-text {
        background-color: white;
    }

    div.grayscale:hover>h1 {
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<!-- TODO: CHANGE BG URL TO URL_FOR -->
<section class="jumbotron d-flex align-items-center min-vh-100 mb-0"
    style="background-image: url('static/img/bg.png'); background-position: center; background-size: cover; border-radius: 0px;">
    <div class="container text-center">
        <h1 class="text-white display-2">Now Showing...<span id="cursor">|</span></h1>
        <div class="row justify-content-center">
            <div class="col-sm mt-3">
                <div class="card bg-dark text-white border-0 grayscale">
                    <img src="{{ url_for('static', filename='img/us.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h1 class="card-title display-4"><b><a href="{{ url_for('western') }}" class="text-reset stretched-link">Western</a></b></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-3">
                <div class="card bg-dark text-white border-0 grayscale">
                    <img src="{{ url_for('static', filename='img/asian.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h1 class="card-title display-4"><b><a href="{{ url_for('asian') }}" class="text-reset stretched-link">Asian</a></b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    var cursor = true;
    var speed = 400;
    setInterval(() => {
        if (cursor) {
            document.getElementById('cursor').style.opacity = 0;
            cursor = false;
        } else {
            document.getElementById('cursor').style.opacity = 1;
            cursor = true;
        }
    }, speed);
</script>
{% endblock %}