{% extends 'layouts/layout.html' %}

<!-- TODO: CHANGE DYNAMIC TITLE -->
{% block title%}{{ heading }}{% endblock %}

{% block content %}
<main role="main" class="mt-5 pt-5">
    <!-- TODO: CHANGE DYNAMIC HEADER -->
    <h2 class="text-center">{{ heading }}</h2>
    <div class="container pt-3" id="all_shows">
        <div class="card-columns">
            <div id="awn-z3253511"></div>
            {% for item in data %}
            <div class="card border-body">
                <img src="{{ item['image'] }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="stretched-link" style="text-decoration: none;"
                            href="{{ item['link'] }}">{{ item['title'] }}</a>
                    </h5>
                </div>
            </div>
            {% endfor %}
            <div id="awn-z3253511"></div>
        </div>
    </div>
</main>

{% if current_page != None %}
<nav aria-label="pagination" class="mx-auto">
    <ul class="pagination justify-content-center">
        {% if previous_page != None %}
        <!-- Left arrow button -->
        <li class="page-item"><a class="page-link" href="{{ previous_page['link'] }}">{{ previous_page['page'] }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link">{{ current_page }}</a></li>
        {% if next_page != None %}
        <li class="page-item"><a class="page-link" href="{{ next_page['link'] }}">{{ next_page['page'] }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endif%}

{% endblock %}