{% extends 'layouts/layout.html' %}

<!-- TODO: CHANGE DYNAMIC TITLE -->
{% block title%}{{ heading }}{% endblock %}

{% block content %}
<main role="main" class="mt-5 pt-5 text-center container">
    <!-- <div class="container"> -->
        <div class="row justify-content-center">
            <h2>{{ heading }}</h2>
        </div>
        {% if data %}
        <div class="row mt-3">
            {% for item in data %}
            <div class="col-md-4 mb-2">
                <a href="{{ item['link'] }}" class="text-reset" {% if "episode" in request.url %}target="_blank"{% endif %}><div class="border border-secondary rounded-pill p-2">{{ item['title'] }}</div></a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    <!-- </div> -->
</main>
{% endblock %}